body {
  font-family: "Noto Serif JP", "Noto Serif";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(40, 47, 53, 0.7411764706);
}
.header .header_icon {
  width: 40%;
  padding: 32px 120px;
}
.header .header_icon a {
  font-size: 1.625rem;
  font-style: italic;
}
.header .header_menu {
  width: 60%;
  line-height: 29.9px;
}
.header .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 120px;
}
.header .header_menu ul li a {
  padding: 0 10px;
  display: block;
  line-height: 93px;
}
.header .header_menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1294117647);
}

.imgae_slider {
  width: 100%;
  height: 752px;
  overflow: hidden;
}
.imgae_slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgae_slider .slick-slide {
  height: auto !important;
}

.mainbivual {
  padding-left: 120px;
  color: white;
  position: absolute;
  top: 409px;
}
.mainbivual h1 {
  font-size: 4.375rem;
}
.mainbivual p {
  font-size: 2.5rem;
}

.concept {
  padding: 0 120px;
  margin-top: 70px;
  overflow: hidden;
}
.concept .concept_content {
  margin-left: auto;
  width: 1100px;
  padding-right: 100px;
  height: 739px;
  position: relative;
}
.concept .concept_content .concept_title {
  font-size: 3.57rem;
  margin-bottom: 70px;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.concept .concept_content .concept_title::after {
  content: "";
  position: absolute;
  width: 200px;
  top: 35px;
  height: 3px;
  background-color: black;
  margin-left: 30px;
}
.concept .concept_content .concept_title.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.concept .concept_content .concept_subtitle {
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 60px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.concept .concept_content .concept_subtitle.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.concept .concept_content .concept_explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.concept .concept_content .concept_explanation p {
  width: 440px;
  line-height: 30px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.concept .concept_content .concept_explanation img {
  width: 440px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.concept .concept_content .concept_explanation .active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.concept .concept_content .concept_title2 {
  margin-top: 70px;
  font-size: 5.625rem;
  color: #171717;
  text-align: right;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.concept .concept_content .concept_title2.active {
  opacity: 0.09;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.works {
  background-image: url("../image/works-bgi@2x.jpg");
}
.works .works_content {
  height: 986px;
  padding: 0 120px;
  margin-top: 70px;
  position: relative;
}
.works .works_content .works_title {
  font-size: 3.57rem;
  margin-bottom: 70px;
  color: white;
  padding-top: 104px;
  text-align: right;
  margin-right: 245px;
  font-style: italic;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.works .works_content .works_title::after {
  content: "";
  position: absolute;
  width: 200px;
  top: 140px;
  right: 123px;
  height: 3px;
  background-color: white;
  margin-left: 30px;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.works .works_content .works_title.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.works .works_content .works_title.active::after {
  -webkit-transform: translateX(363px);
          transform: translateX(363px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.works .works_content .works_explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.works .works_content .works_explanation .work_part {
  height: 334px;
  width: 320px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 7px 8px 7px 2px rgba(255, 255, 255, 0.2392156863);
          box-shadow: 7px 8px 7px 2px rgba(255, 255, 255, 0.2392156863);
  overflow: hidden;
}
.works .works_content .works_explanation .work_part .work_part_top {
  height: 200px;
}
.works .works_content .works_explanation .work_part .work_part_top img {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.works .works_content .works_explanation .work_part .work_part_top img.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.works .works_content .works_explanation .work_part .work_part_bottom {
  padding: 15px 20px;
  height: 134px;
  line-height: 25px;
}
.works .works_content .works_explanation .work_part:hover .work_part_top {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.works .works_content .view_more_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  width: 235px;
  margin: 80px auto 70px auto;
  padding: 1rem 4rem;
  font-weight: bold;
  background: white;
  color: black;
  border-radius: 100vh;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.works .works_content .view_more_btn:hover {
  opacity: 0.7;
}
.works .works_content .view_more_btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 18px;
  -webkit-transform: translateY(calc(-50% - 2px)) rotate(45deg);
          transform: translateY(calc(-50% - 2px)) rotate(45deg);
  width: 10px;
  height: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: black;
}
.works .works_content .view_more_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
}
.works .works_content .view_more_btn:hover::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(4px) translateY(calc(-50% - 2px)) rotate(45deg);
          transform: translateX(4px) translateY(calc(-50% - 2px)) rotate(45deg);
}
.works .works_content .view_more_btn:hover::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(5px) translateY(-50%);
          transform: translateX(5px) translateY(-50%);
}
.works .works_content .work_title2 {
  margin-top: 70px;
  font-size: 5.625rem;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.works .works_content .work_title2.active {
  opacity: 0.1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.service {
  overflow: hidden;
}
.service .service_title {
  padding: 0 220px;
  margin-top: 70px;
  position: relative;
  font-size: 3.57rem;
  margin-bottom: 70px;
  font-style: italic;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.service .service_title::after {
  content: "";
  position: absolute;
  width: 200px;
  top: 35px;
  height: 3px;
  background-color: black;
  margin-left: 30px;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.service .service_title.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.service .service_title.active::after {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.service .work_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 320px;
}
.service .work_items .work_item1 {
  width: 33.3333333333%;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item1:hover {
  background-color: rgba(9, 9, 9, 0.77);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item1 img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.4;
}
.service .work_items .work_item1::before {
  content: "Hearing";
  position: absolute;
  width: inherit;
  height: inherit;
  font-size: 2.5rem;
  color: white;
  top: 43%;
  left: 34%;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.service .work_items .work_item1.active::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.service .work_items .work_item2 {
  width: 33.3333333333%;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item2:hover {
  background-color: rgba(9, 9, 9, 0.77);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item2 img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.4;
}
.service .work_items .work_item2::before {
  content: "Planning";
  position: absolute;
  width: inherit;
  height: inherit;
  font-size: 2.5rem;
  color: white;
  top: 43%;
  left: 34%;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.service .work_items .work_item2.active::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.service .work_items .work_item3 {
  width: 33.3333333333%;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item3:hover {
  background-color: rgba(9, 9, 9, 0.77);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item3 img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.4;
}
.service .work_items .work_item3::before {
  content: "Direction";
  position: absolute;
  width: inherit;
  height: inherit;
  font-size: 2.5rem;
  color: white;
  top: 43%;
  left: 34%;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.service .work_items .work_item3.active::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.service .service_subtitle {
  margin: 70px 0;
  font-size: 5.625rem;
  color: #171717;
  padding: 0 220px;
  text-align: right;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.service .service_subtitle.active {
  opacity: 0.1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.contact {
  background-image: url("../image/contact-bgi@2x.jpg");
  height: 666px;
}
.contact .contact_content {
  padding: 0 120px;
  margin-top: 70px;
  position: relative;
}
.contact .contact_content .contact_title {
  font-size: 3.57rem;
  margin-bottom: 80px;
  color: white;
  padding-top: 104px;
  text-align: right;
  margin-right: 245px;
  font-style: italic;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.contact .contact_content .contact_title::after {
  content: "";
  position: absolute;
  width: 200px;
  top: 140px;
  right: 123px;
  height: 3px;
  background-color: white;
  margin-left: 30px;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.contact .contact_content .contact_title.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.contact .contact_content .contact_title.active::after {
  -webkit-transform: translateX(363px);
          transform: translateX(363px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.contact .contact_content .contact_form_btn {
  text-align: center;
}
.contact .contact_content .contact_form_btn p {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 40px;
}
.contact .contact_content .contact_form_btn a {
  padding: 19px 84px;
  background: white;
  border-radius: 40px;
  display: inline-block;
  margin-bottom: 70px;
}
.contact .contact_content .contact_form_btn a:hover {
  opacity: 0.7;
}
.contact .contact_content .contact_subtitle {
  margin-top: 70px;
  font-size: 5.625rem;
  color: #ffffff;
  opacity: 0.1;
}

.footer {
  height: 79px;
  text-align: center;
  line-height: 79px;
  font-size: 0.875rem;
}

.contact_page {
  background-image: url("../image/contact-page-bgi@2x.jpg");
  height: 453px;
  position: relative;
}
.contact_page .contact_page_title {
  font-size: 3.57rem;
  text-align: center;
  line-height: 453px;
  color: white;
  font-style: italic;
  margin: 0;
}
.contact_page .contact_page_subtitle {
  position: absolute;
  font-size: 5.625rem;
  color: #ffffff;
  opacity: 0.1;
  padding-left: 48px;
  bottom: 48px;
}

.contact_form {
  padding: 100px 370px 0 370px;
}
.contact_form .form_part_checkbox {
  margin-bottom: 35px;
}
.contact_form .form_part_checkbox label {
  font-weight: bold;
  margin-bottom: 7px;
  display: block;
}
.contact_form .form_part_checkbox span {
  margin: 0 20px 0 5px;
}
.contact_form .form_part {
  margin-bottom: 25px;
}
.contact_form .form_part label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}
.contact_form .form_part input {
  border-radius: 3px;
  border: 1px solid black;
  width: 700px;
  height: 30px;
  margin-bottom: 25px;
}
.contact_form .form_part textarea {
  border: 1px solid black;
  width: 700px;
  height: 171px;
  border-radius: 3px;
  margin-bottom: 80px;
}
.contact_form .view_more_btn_form {
  display: block;
  border: 1px solid black;
  text-align: center;
  width: 235px;
  margin: 0px auto 110px auto;
  padding: 1rem 4rem;
  font-weight: bold;
  background: white;
  color: black;
  border-radius: 100vh;
}/*# sourceMappingURL=style.css.map */