@use "fadein" as *;
@use "responsive" as *;

body{
  font-family: 'Noto Serif JP', 'Noto Serif';
}

.header{
  display: flex;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #282f35bd;
  .header_icon{
    width: 40%;
    padding: 32px 120px;
    a{
      font-size: 1.625rem;
      font-style: italic;
    }
  }
  .header_menu{
    width: 60%;
    line-height: 29.9px;
    ul{
      display: flex;
      justify-content: end;
      padding-right: 120px;
      li a{
        padding: 0 10px;
        display: block;
        line-height: 93px;
        &:hover{
          background-color: #ffffff21;
        }
      }
    };
  }
}

.imgae_slider {
  width: 100%;
  height: 752px;
  overflow: hidden;
  img{
    width: 100%;
    object-fit: cover;
  }
}
.imgae_slider .slick-slide{
  height:auto!important;
}

.mainbivual{
  padding-left: 120px;
  color: white;
  position: absolute;
  top: 409px;
  h1{
    font-size: 4.375rem;
  }
  p{
    font-size: 2.5rem;
  }
}

.concept{
  padding: 0 120px;
  margin-top: 70px;
  overflow: hidden;

  .concept_content{
    margin-left: auto;
    width: 1100px;
    padding-right: 100px;
    height: 739px;
    position: relative;

    .concept_title{
      font-size: 3.57rem;
      margin-bottom: 70px;
      @include slider_fadein(translateX(1500px));
      &::after{
        content: "";
        position: absolute;
        width: 200px;
        top: 35px;
        height: 3px;
        background-color: black;
        margin-left: 30px;
      }
    }
    .concept_title.active{
      @include slider_fadein(translateX(0px));
    }
    .concept_subtitle{
      font-size: 1.875rem;
      text-align: center;
      margin-bottom: 60px;
      @include fedein(0, translateY(100px));
    }
    .concept_subtitle.active{
      @include fedein(1, translateY(0px));
    }
    .concept_explanation{
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        width: 440px;
        line-height: 30px;
        @include fedein(0, translateY(100px));
      }
      img{
        width: 440px;
        @include fedein(0, translateY(100px));
      }
      .active{
        @include fedein(1, translateY(0px));
      }
    }
    .concept_title2{
      margin-top: 70px;
      font-size: 5.625rem;
      color: #171717;
      text-align: right;
      @include fedeout(0, translateY(-30px))
    }
    .concept_title2.active{
      @include fedeout(0.09, translateY(0px))
    }
  }
}

.works{
  background-image: url('../image/works-bgi@2x.jpg');
  .works_content{
    height: 986px;
    padding: 0 120px;
    margin-top: 70px;
    position: relative;
    .works_title{
      font-size: 3.57rem;
      margin-bottom: 70px;
      color: white;
      padding-top: 104px;
      text-align: right;
      margin-right: 245px;
      font-style: italic;
      @include slider_fadein(translateX(-1500px));
      &::after{
        content: "";
        position: absolute;
        width: 200px;
        top: 140px;
        right: 123px;
        height: 3px;
        background-color: white;
        margin-left: 30px;
        @include slider_fadein(translateX(-1500px));
      }
    }
    .works_title.active{
      @include slider_fadein(translateX(0px));
      &::after{
        @include slider_fadein(translateX(363px));
      }
    }
    .works_explanation{
      display: flex;
      padding: 0 100px;
      justify-content: space-between;
      transition: .5s;
      .work_part{
        height: 334px;
        width: 320px;
        background: white;
        border-radius: 3px;
        box-shadow: 7px 8px 7px 2px #ffffff3d;
        overflow: hidden;
        .work_part_top{
          height: 200px;
          img{
            @include fedein(0, translateY(10px));
          }
          img.active{
            @include fedein(1, translateY(0px));
          }
        }
        .work_part_bottom{
          padding: 15px 20px;
          height: 134px;
          line-height: 25px;
        }
        &:hover{
          .work_part_top{
            transition: .5s;
            transform: scale(1.05);
          }
        }
      }
    }
    .view_more_btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      text-decoration: none;
      width: 235px;
      margin: 80px auto 70px auto;
      padding: 1rem 4rem;
      font-weight: bold;
      background: white;
      color: black;
      border-radius: 100vh;
      position: relative;
      transition: 0.5s;
      &:hover{
        opacity: 0.7;
      }
      &::before{
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        right: 18px;
        transform: translateY(calc(-50% - 2px)) rotate(45deg);
        width: 10px;
        height: 1px;
        transition: .5s;
        background: black;
        
      }
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 50px;
        height: 1px;
        transition: .5s;
        background-color: black;
      }
      &:hover::before{
        transition: .5s;
        transform: translateX(4px) translateY(calc(-50% - 2px)) rotate(45deg);
      }
      &:hover::after{
        transition: .5s;
        transform: translateX(5px) translateY(-50%);
      }
    }
    .work_title2{
      margin-top: 70px;
      font-size: 5.625rem;
      color: #ffffff;
      @include fedeout(0, translateY(-30px))
    }
    .work_title2.active{
      @include fedeout(0.1, translateY(0px))
    }
  }
}

.service{
  overflow: hidden;
  .service_title{
    padding: 0 220px;
    margin-top: 70px;
    position: relative;
    font-size: 3.57rem;
    margin-bottom: 70px;
    font-style: italic;
    @include slider_fadein(translateX(1500px));
    &::after{
      content: "";
      position: absolute;
      width: 200px;
      top: 35px;
      height: 3px;
      background-color: black;
      margin-left: 30px;
      @include slider_fadein(translateX(1500px));
    }
  }
  .service_title.active{
    @include slider_fadein(translateX(0px));
    &::after{
      @include slider_fadein(translateX(0px));
    }
  }
  .work_items{
    display: flex;
    height: 320px;
    .work_item1{
      width: calc(100%/3);
      cursor: pointer;
      position: relative;
      transition: .5s;
      &:hover{
        background-color: rgb(9 9 9 / 77%);
        transition: .5s;
      }
      img:hover{
        transition: .5s;
        opacity: 0.4;
      }
      &::before{
        content: 'Hearing';
        position: absolute;
        width: inherit;
        height: inherit;
        font-size: 2.5rem;
        color: white;
        top: 43%;
        left: 34%;
        font-style: italic;
        @include fedein(0, translateY(100px));
      }
    }
    .work_item1.active::before{
      @include fedein(1, translateY(0px), 2s);
    }
    .work_item2{
      width: calc(100%/3);
      cursor: pointer;
      position: relative;
      transition: .5s;
      &:hover{
        background-color: rgb(9 9 9 / 77%);
        transition: .5s;
      }
      img:hover{
        transition: .5s;
        opacity: 0.4;
      }
      &::before{
        content: 'Planning';
        position: absolute;
        width: inherit;
        height: inherit;
        font-size: 2.5rem;
        color: white;
        top: 43%;
        left: 34%;
        font-style: italic;
        @include fedein(0, translateY(100px));
      }
    }
    .work_item2.active::before{
      @include fedein(1, translateY(0px), 2s);
    }
    .work_item3{
      width: calc(100%/3);
      cursor: pointer;
      position: relative;
      transition: .5s;
      &:hover{
        background-color: rgb(9 9 9 / 77%);
        transition: .5s;
      }
      img:hover{
        transition: .5s;
        opacity: 0.4;
      }
      &::before{
        content: 'Direction';
        position: absolute;
        width: inherit;
        height: inherit;
        font-size: 2.5rem;
        color: white;
        top: 43%;
        left: 34%;
        font-style: italic;
        @include fedein(0, translateY(100px));

      }
    }
    .work_item3.active::before{
      @include fedein(1, translateY(0px), 2s);
    }
  }
  .service_subtitle{
    margin: 70px 0;
    font-size: 5.625rem;
    color: #171717;
    padding: 0 220px;
    text-align: right;
    font-style: italic;
    @include fedein(0, translateY(-30px));
  }
  .service_subtitle.active{
    @include fedein(0.1, translateY(0px));
  }
}



.contact{
  background-image: url('../image/contact-bgi@2x.jpg');
  height: 666px;
  .contact_content{
    padding: 0 120px;
    margin-top: 70px;
    position: relative;
    .contact_title{
      font-size: 3.57rem;
      margin-bottom: 80px;
      color: white;
      padding-top: 104px;
      text-align: right;
      margin-right: 245px;
      font-style: italic;
      @include slider_fadein(translateX(-1500px));
      &::after{
        content: "";
        position: absolute;
        width: 200px;
        top: 140px;
        right: 123px;
        height: 3px;
        background-color: white;
        margin-left: 30px;
        @include slider_fadein(translateX(-1500px));
      }
    }
    .contact_title.active{
      @include slider_fadein(translateX(0px));
      &::after{
        @include slider_fadein(translateX(363px));
      }
    }
    .contact_form_btn{
      text-align: center;
      p{
        font-size: 1.25rem;
        color: white;
        margin-bottom: 40px;
      }
      a{
        padding: 19px 84px;
        background: white;
        border-radius: 40px;
        display: inline-block;
        margin-bottom: 70px;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    .contact_subtitle{
      margin-top: 70px;
      font-size: 5.625rem;
      color: #ffffff;
      @include fadein(0, translateY(-30px))
    }
    .contact_subtitle.active{
      @include fadein(0.1, translateY(0px))
    }
  }
}

.footer{
  height: 79px;
  text-align: center;
  line-height: 79px;
  font-size: 0.875rem;
}

.contact_page{
  background-image: url('../image/contact-page-bgi@2x.jpg');
  height: 453px;
  position: relative;
  .contact_page_title{
    font-size: 3.57rem;
    text-align: center;
    line-height: 453px;
    color: white;
    font-style: italic;
    margin: 0;
  }
  .contact_page_subtitle{
    position: absolute;
    font-size: 5.625rem;
    color: #ffffff;
    opacity: 0.1;
    padding-left: 48px;
    bottom: 48px;
  }
}

// 問い合わせフォーム画面
.contact_form{
  padding: 100px 370px 0 370px;
  .form_part_checkbox{
    margin-bottom: 35px;
    label{
      font-weight: bold;
      margin-bottom: 7px;
      display: block;
    }
    span{
      margin: 0 20px 0 5px;
    }
  }
  .form_part{
    margin-bottom: 25px;
    label{
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }
    input{
      border-radius: 3px;
      border: 1px solid black;
      width: 700px;
      height: 30px;
      margin-bottom: 25px;
    }
    textarea{
      border: 1px solid black;
      width: 700px;
      height: 171px;
      border-radius: 3px;
      margin-bottom: 80px;
    }
  }
  .view_more_btn_form {
    display: block;
    border: 1px solid black;
    text-align: center;
    width: 235px;
    margin: 0px auto 110px auto;
    padding: 1rem 4rem;
    font-weight: bold;
    background: white;
    color: black;
    border-radius: 100vh;
  }
}