body {
  font-family: "Noto Serif JP", "Noto Serif";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .header_icon {
  width: 40%;
  padding: 32px 120px;
}
@media screen and (max-width: 900px) {
  .header .header_icon {
    padding: 24px 15px;
    width: 70%;
  }
}
.header .header_icon a {
  font-size: 1.625rem;
  font-style: italic;
}
.header .header_menu {
  width: 60%;
  line-height: 29.9px;
}
@media screen and (max-width: 900px) {
  .header .header_menu {
    display: none;
  }
}
.header .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 120px;
}
.header .header_menu ul li a {
  padding: 0 10px;
  display: block;
  line-height: 93px;
}
.header .header_menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1294117647);
}
.header .hunbargur_menu {
  display: block;
  position: fixed;
  width: 42px;
  height: 42px;
  right: 0;
  margin: 24px 10px 0 0;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .header .hunbargur_menu {
    opacity: 1;
    pointer-events: visible;
  }
  .header .hunbargur_menu span {
    width: 35px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 3px;
  }
  .header .hunbargur_menu span:nth-child(1) {
    top: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .hunbargur_menu span:nth-child(2) {
    top: 17px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .hunbargur_menu span:nth-child(3) {
    top: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
.header .hunbargur_menu.active span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(405deg);
          transform: translateY(11px) rotate(405deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .hunbargur_menu.active span:nth-child(2) {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .hunbargur_menu.active span:nth-child(3) {
  -webkit-transform: translateY(-14px) rotate(315deg);
          transform: translateY(-14px) rotate(315deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .mask_menu {
  position: fixed;
  background: #282F35;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .mask_menu ul {
  padding-top: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .mask_menu ul li {
  display: inline-block;
  margin-bottom: 30px;
}
.header .mask_menu.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  pointer-events: visible;
  z-index: 3;
}

.header.active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(40, 47, 53, 0.7411764706);
}

.imgae_slider {
  width: 100%;
  height: 752px;
  overflow: hidden;
}
.imgae_slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 900px) {
  .imgae_slider {
    height: 559px;
  }
  .imgae_slider div {
    width: auto;
  }
  .imgae_slider div img {
    height: 100vh;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

.imgae_slider .slick-slide {
  height: auto !important;
}

.mainbivual {
  padding-left: 120px;
  color: white;
  position: absolute;
  top: 409px;
}
.mainbivual h1 {
  font-size: 4.375rem;
}
.mainbivual p {
  font-size: 2.5rem;
}
@media screen and (max-width: 900px) {
  .mainbivual {
    top: 41%;
    padding-left: 28px;
  }
  .mainbivual h1 {
    font-size: 2.32rem;
    text-align: center;
  }
  .mainbivual p {
    text-align: center;
    font-size: 1rem;
    margin-top: 19px;
  }
}

.concept {
  padding: 0 120px;
  margin-top: 70px;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .concept {
    padding: 0 20px;
  }
}
.concept .concept_content {
  margin-left: auto;
  width: 1100px;
  padding-right: 100px;
  height: 739px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .concept .concept_content {
    width: 100%;
    padding: 0;
    height: 100%;
  }
}
.concept .concept_content .concept_title {
  font-size: 3.57rem;
  margin-bottom: 70px;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
@media screen and (max-width: 900px) {
  .concept .concept_content .concept_title {
    font-size: 1.875rem;
  }
}
.concept .concept_content .concept_title::after {
  content: "";
  position: absolute;
  width: 200px;
  top: 35px;
  height: 3px;
  background-color: black;
  margin-left: 30px;
}
@media screen and (max-width: 900px) {
  .concept .concept_content .concept_title::after {
    width: 100px;
    top: 18px;
  }
}
.concept .concept_content .concept_title.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.concept .concept_content .concept_subtitle {
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 60px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.concept .concept_content .concept_subtitle.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.concept .concept_content .concept_explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .concept .concept_content .concept_explanation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.concept .concept_content .concept_explanation p {
  width: 440px;
  line-height: 30px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: 900px) {
  .concept .concept_content .concept_explanation p {
    width: 100%;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
.concept .concept_content .concept_explanation img {
  width: 440px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: 900px) {
  .concept .concept_content .concept_explanation img {
    height: 150px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 100%;
       object-position: 0% 100%;
  }
}
.concept .concept_content .concept_explanation .active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.concept .concept_content .concept_title2 {
  margin-top: 70px;
  font-size: 5.625rem;
  color: #171717;
  text-align: right;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
@media screen and (max-width: 900px) {
  .concept .concept_content .concept_title2 {
    margin: 40px 0;
    font-size: 2.5rem;
  }
}
.concept .concept_content .concept_title2.active {
  opacity: 0.09;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.works {
  background-image: url("../image/works-bgi@2x.jpg");
}
@media screen and (max-width: 900px) {
  .works {
    overflow: hidden;
  }
}
.works .works_content {
  height: 986px;
  padding: 0 120px;
  margin-top: 70px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .works .works_content {
    padding: 0 15px;
    height: 100%;
  }
}
.works .works_content .works_title {
  font-size: 3.57rem;
  margin-bottom: 70px;
  color: white;
  padding-top: 104px;
  text-align: right;
  margin-right: 245px;
  font-style: italic;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
@media screen and (max-width: 900px) {
  .works .works_content .works_title {
    font-size: 1.875rem;
    padding: 0;
    margin-bottom: 50px;
    margin-right: 0px;
    width: 111px;
    margin-left: 119px;
  }
}
.works .works_content .works_title::after {
  content: "";
  position: absolute;
  width: 200px;
  top: 140px;
  right: 123px;
  height: 3px;
  background-color: white;
  margin-left: 30px;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
@media screen and (max-width: 900px) {
  .works .works_content .works_title::after {
    width: 84px;
    top: 18px;
    right: 253px;
    margin-left: 0px;
  }
}
.works .works_content .works_title.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.works .works_content .works_title.active::after {
  -webkit-transform: translateX(363px);
          transform: translateX(363px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.works .works_content .works_explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  .works .works_content .works_explanation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
.works .works_content .works_explanation .work_part {
  height: 334px;
  width: 320px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 7px 8px 7px 2px rgba(255, 255, 255, 0.2392156863);
          box-shadow: 7px 8px 7px 2px rgba(255, 255, 255, 0.2392156863);
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .works .works_content .works_explanation .work_part {
    width: 100%;
    margin-bottom: 30px;
  }
}
.works .works_content .works_explanation .work_part .work_part_top {
  height: 200px;
}
.works .works_content .works_explanation .work_part .work_part_top img {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: 900px) {
  .works .works_content .works_explanation .work_part .work_part_top img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.works .works_content .works_explanation .work_part .work_part_top img.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.works .works_content .works_explanation .work_part .work_part_bottom {
  padding: 15px 20px;
  height: 134px;
  line-height: 25px;
}
.works .works_content .works_explanation .work_part:hover .work_part_top {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.works .works_content .view_more_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  width: 235px;
  margin: 80px auto 70px auto;
  padding: 1rem 4rem;
  font-weight: bold;
  background: white;
  color: black;
  border-radius: 100vh;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  .works .works_content .view_more_btn {
    margin: 50px auto 0 auto;
  }
}
.works .works_content .view_more_btn:hover {
  opacity: 0.7;
}
.works .works_content .view_more_btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 18px;
  -webkit-transform: translateY(calc(-50% - 2px)) rotate(45deg);
          transform: translateY(calc(-50% - 2px)) rotate(45deg);
  width: 10px;
  height: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: black;
}
.works .works_content .view_more_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
}
.works .works_content .view_more_btn:hover::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(4px) translateY(calc(-50% - 2px)) rotate(45deg);
          transform: translateX(4px) translateY(calc(-50% - 2px)) rotate(45deg);
}
.works .works_content .view_more_btn:hover::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(5px) translateY(-50%);
          transform: translateX(5px) translateY(-50%);
}
.works .works_content .work_title2 {
  margin-top: 70px;
  font-size: 5.625rem;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
@media screen and (max-width: 900px) {
  .works .works_content .work_title2 {
    padding-bottom: 40px;
    font-size: 2.5rem;
    margin: 40px 0;
  }
}
.works .works_content .work_title2.active {
  opacity: 0.1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.service {
  overflow: hidden;
}
.service .service_title {
  padding: 0 220px;
  margin-top: 70px;
  position: relative;
  font-size: 3.57rem;
  margin-bottom: 70px;
  font-style: italic;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
@media screen and (max-width: 900px) {
  .service .service_title {
    font-size: 1.875rem;
    padding: 0 15px;
    margin: 60px 0;
  }
}
.service .service_title::after {
  content: "";
  position: absolute;
  width: 200px;
  top: 35px;
  height: 3px;
  background-color: black;
  margin-left: 30px;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
@media screen and (max-width: 900px) {
  .service .service_title::after {
    width: 100px;
    top: 20px;
  }
}
.service .service_title.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.service .service_title.active::after {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.service .work_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 320px;
}
@media screen and (max-width: 900px) {
  .service .work_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}
.service .work_items .work_item1 {
  width: 33.3333333333%;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  .service .work_items .work_item1 {
    margin-bottom: 30px;
    width: 100%;
  }
  .service .work_items .work_item1 img {
    width: 100%;
  }
}
.service .work_items .work_item1:hover {
  background-color: rgba(9, 9, 9, 0.77);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item1 img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.4;
}
.service .work_items .work_item1::before {
  content: "Hearing";
  position: absolute;
  width: inherit;
  height: inherit;
  font-size: 2.5rem;
  color: white;
  top: 43%;
  left: 34%;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: 900px) {
  .service .work_items .work_item1::before {
    left: 0%;
    text-align: center;
  }
}
.service .work_items .work_item1.active::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.service .work_items .work_item2 {
  width: 33.3333333333%;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  .service .work_items .work_item2 {
    margin-bottom: 30px;
    width: 100%;
  }
  .service .work_items .work_item2 img {
    width: 100%;
  }
}
.service .work_items .work_item2:hover {
  background-color: rgba(9, 9, 9, 0.77);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item2 img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.4;
}
.service .work_items .work_item2::before {
  content: "Planning";
  position: absolute;
  width: inherit;
  height: inherit;
  font-size: 2.5rem;
  color: white;
  top: 43%;
  left: 34%;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: 900px) {
  .service .work_items .work_item2::before {
    left: 0%;
    text-align: center;
  }
}
.service .work_items .work_item2.active::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.service .work_items .work_item3 {
  width: 33.3333333333%;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 900px) {
  .service .work_items .work_item3 {
    margin-bottom: 30px;
    width: 100%;
  }
  .service .work_items .work_item3 img {
    width: 100%;
  }
}
.service .work_items .work_item3:hover {
  background-color: rgba(9, 9, 9, 0.77);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.service .work_items .work_item3 img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.4;
}
.service .work_items .work_item3::before {
  content: "Direction";
  position: absolute;
  width: inherit;
  height: inherit;
  font-size: 2.5rem;
  color: white;
  top: 43%;
  left: 34%;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: 900px) {
  .service .work_items .work_item3::before {
    left: 0%;
    text-align: center;
  }
}
.service .work_items .work_item3.active::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.service .service_subtitle {
  margin: 70px 0;
  font-size: 5.625rem;
  color: #171717;
  padding: 0 220px;
  text-align: right;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: 900px) {
  .service .service_subtitle {
    font-size: 2.5rem;
    padding: 0 15px 0 0;
    margin: 10px 0 0px 0;
  }
}
.service .service_subtitle.active {
  opacity: 0.1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.contact {
  background-image: url("../image/contact-bgi@2x.jpg");
  height: 666px;
}
@media screen and (max-width: 900px) {
  .contact {
    height: 100%;
  }
}
.contact .contact_content {
  padding: 0 120px;
  margin-top: 70px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .contact .contact_content {
    padding: 0 15px;
    margin-top: 60px;
  }
}
.contact .contact_content .contact_title {
  font-size: 3.57rem;
  margin-bottom: 80px;
  color: white;
  padding-top: 104px;
  text-align: right;
  margin-right: 245px;
  font-style: italic;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
@media screen and (max-width: 900px) {
  .contact .contact_content .contact_title {
    font-size: 1.875rem;
    padding: 100px 0 0 0;
    margin-bottom: 50px;
    margin-right: 0px;
    width: 111px;
    margin-left: 119px;
  }
}
.contact .contact_content .contact_title::after {
  content: "";
  position: absolute;
  width: 200px;
  top: 140px;
  right: 123px;
  height: 3px;
  background-color: white;
  margin-left: 30px;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
@media screen and (max-width: 900px) {
  .contact .contact_content .contact_title::after {
    width: 84px;
    top: 117px;
    right: 253px;
    margin-left: 0px;
  }
}
.contact .contact_content .contact_title.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.contact .contact_content .contact_title.active::after {
  -webkit-transform: translateX(363px);
          transform: translateX(363px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.contact .contact_content .contact_form_btn {
  text-align: center;
}
.contact .contact_content .contact_form_btn p {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 40px;
}
.contact .contact_content .contact_form_btn a {
  padding: 19px 84px;
  background: white;
  border-radius: 40px;
  display: inline-block;
  margin-bottom: 70px;
}
@media screen and (max-width: 900px) {
  .contact .contact_content .contact_form_btn a {
    margin-bottom: 0;
  }
}
.contact .contact_content .contact_form_btn a:hover {
  opacity: 0.7;
}
.contact .contact_content .contact_subtitle {
  margin-top: 70px;
  font-size: 5.625rem;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
@media screen and (max-width: 900px) {
  .contact .contact_content .contact_subtitle {
    font-size: 2.5rem;
    padding-bottom: 60px;
    margin-top: 40px;
  }
}
.contact .contact_content .contact_subtitle.active {
  opacity: 0.1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.footer {
  height: 79px;
  text-align: center;
  line-height: 79px;
  font-size: 0.875rem;
}

.contact_page {
  background-image: url("../image/contact-page-bgi@2x.jpg");
  height: 453px;
  position: relative;
}
.contact_page .contact_page_title {
  font-size: 3.57rem;
  text-align: center;
  line-height: 453px;
  color: white;
  font-style: italic;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .contact_page .contact_page_title {
    font-size: 1.875rem;
  }
}
.contact_page .contact_page_subtitle {
  position: absolute;
  font-size: 5.625rem;
  color: #ffffff;
  opacity: 0.1;
  padding-left: 48px;
  bottom: 48px;
}
@media screen and (max-width: 900px) {
  .contact_page .contact_page_subtitle {
    font-size: 2.5rem;
  }
}

.contact_form {
  padding: 100px 370px 0 370px;
}
@media screen and (max-width: 900px) {
  .contact_form {
    padding: 100px 15px 0 15px;
  }
}
.contact_form .form_part_checkbox {
  margin-bottom: 35px;
}
@media screen and (max-width: 900px) {
  .contact_form .form_part_checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_form .form_part_checkbox .contact_container_part {
    margin-bottom: 10px;
  }
}
.contact_form .form_part_checkbox label {
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}
.contact_form .form_part_checkbox span {
  margin: 0 20px 0 5px;
}
.contact_form .form_part {
  margin-bottom: 25px;
}
.contact_form .form_part label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}
.contact_form .form_part input {
  border-radius: 3px;
  border: 1px solid black;
  width: 700px;
  height: 30px;
  margin-bottom: 25px;
}
@media screen and (max-width: 900px) {
  .contact_form .form_part input {
    width: 100%;
  }
}
.contact_form .form_part textarea {
  border: 1px solid black;
  width: 700px;
  height: 171px;
  border-radius: 3px;
  margin-bottom: 80px;
}
@media screen and (max-width: 900px) {
  .contact_form .form_part textarea {
    width: 100%;
  }
}
.contact_form .view_more_btn_form {
  display: block;
  border: 1px solid black;
  text-align: center;
  width: 235px;
  margin: 0px auto 110px auto;
  padding: 1rem 4rem;
  font-weight: bold;
  background: white;
  color: black;
  border-radius: 100vh;
}/*# sourceMappingURL=style.css.map */